<div class="row">
    <div class="col-lg-3 gradient-bg">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-4 pl-5">
            <li class="nav-item">
                <a class="nav-link white-text active" >Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link white-text" href="#">New Car <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link white-text" href="#">Edit Cars <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link white-text" href="#">Users <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
<div class="col-lg-9 d-flex flex-wrap justify-content-around">
        <app-overview></app-overview>  
        </div>  
</div>